{% assign id = "configurationModal" %}
{% assign title = "Main configuration" %}
{% capture content %}

<div class="form-group">
    <div class="form-row">
        <div class="col">
            <input id="bgExampleWidth" type="number" class="form-control" placeholder="Preview width (eg. 1280)">
        </div>
        <div class="col">
            <input id="bgExampleHeight" type="number" class="form-control" placeholder="Preview height (eg. 682)">
        </div>
    </div>
    <small class="form-text text-muted">Examples: 
        <a href="#" class="preview-size-example">1920x1080</a>, 
        <a href="" class="preview-size-example">1280x682</a>, 
        <a href="" class="preview-size-example">1024x768</a>
    </small>
</div>

<div class="form-group">
    <label for="bg-example">Preview background</label>
    <select id="bg-example" class="form-control"></select>
</div>

<div class="form-group d-none">
    <label for="bg-example-custom">URL to your custom picture</label>
    <input type="text" id="bg-example-custom" class="form-control">
</div>


<div class="form-group">
    <img src="/assets/images/screen1.jpg" width="465" id="bg-example-preview">
</div>

{% endcapture %}
{% include modals/_template.html content=content id=id title=title %}

<script type="module">
    import { images, config, update } from '/assets/scripts/previewScreen.js';
    var dialog = $("#{{id}}");

    $(function () {
        var i = 1;
        images.forEach((e) => {
            $("#bg-example").append('<option value="' + e + '">Picture ' + (i++) + '</option>');
        });
        $("#bg-example").append('<option value="">Custom  picture</option>');

        dialog.on("show.bs.modal", onShowed);
        $("form", dialog).on("submit", onSaved);

        $("#bg-example").on("change", updatePreviewImage);
        $("#bg-example-custom").on("change blur keyup", updatePreviewImage);
        $(".preview-size-example").on("click", presetSize);
    })

    function onShowed() {
        $("#bg-example").val(config.image);
        if(!$("#bg-example").val()){
            $("#bg-example").val("");
            $("#bg-example-custom").val(config.image);
        }

        $("#bgExampleWidth").val(config.width);
        $("#bgExampleHeight").val(config.height);

        updatePreviewImage();
    }

    function onSaved() {
        var src = $("#bg-example").val() || $("#bg-example-custom").val();
        update(src, $("#bgExampleWidth").val(), $("#bgExampleHeight").val());
        dialog.modal("hide");
        return false;
    }

    function updatePreviewImage() {
        var src = $("#bg-example").val();
        if(src == ""){
            $("#bg-example-custom").parent().removeClass("d-none");
            src = $("#bg-example-custom").val();
        }else{
            $("#bg-example-custom").parent().addClass("d-none");
        }

        $("#bg-example-preview").prop("src", src);
    }

    function presetSize(e){
        var values = $(e.target).text().split("x");
        $("#bgExampleWidth").val(values[0]);
        $("#bgExampleHeight").val(values[1]);

        return false;
    }
</script>