{% assign id = "exportModal" %}
{% assign title = "Export JSON" %}
{% capture content %}

<div>
    <textarea readonly id="exportJsonTa" rows="20" class="w-100"></textarea>
</div>

{% endcapture %}
{% include modals/_template.html content=content id=id title=title hideSave=true size="modal-xl" %}

<script type="module">
    'use strict';
    /*
    import {elements} from "/assets/scripts/elements.js"
    import {jsonSpacer} from "/assets/scripts/app.js"
    import {eventDefines} from "/assets/scripts/defines.js"

    $(window).on(eventDefines.modalOpened, (e, modal) => {
        if($(modal).prop("id") !== "exportModal") return;

        let result = [];
        elements.forEach(element => {
            let components = element.components.map(component => component.data);
            let data = element.data;
            data.components = components;

            result.push(data);
        });

        let json = JSON.stringify(result, null, jsonSpacer);
        $("#exportJsonTa").val(json);
    });
    */
</script>