{% assign id = "testModal" %}
{% assign title = "Test Dialog" %}
{% capture content %}

<div>Hello, Universe!</div>

{% endcapture %}
{% include modals/_template.html content=content id=id title=title %}

<script type="module">
    //import { previewImages, previewConfig, previewUpdate } from '/assets/scripts/editor.js';
    var dialog = $("#{{id}}");

    $(function () {
        dialog.on("show.bs.modal", onShowed);
        $("form", dialog).on("submit", onSaved);
    })

    function onShowed() {
        console.log("Test dialog showed");
    }

    function onSaved() {
        console.log("Test dialog submitted");
        dialog.modal("hide");

        return false;
    }
</script>