{% assign id = "uiElement" %}
{% assign title = "Rust UI element" %}
{% capture content %}

<div class="form-row">
  <div class="form-group col-6">
    <label for="ui-element-name">Name</label>
    <input type="text" class="form-control" id="ui-element-name" required placeholder="Unique name of element">
  </div>
  <div class="form-group col-6">
    <label for="ui-element-parent">Parent</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="ui-element-parent" aria-describedby="btn-reset-parent" required>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="btn-reset-parent">Top</button>
      </div>
    </div>
  </div>
</div>

<div id="edit-ui-components"></div>

{% endcapture %}
{% include modals/_template.html content=content id=id title=title %}

<div class="d-none">
  {% include components/rectTransform.html %}
</div>

<script type="module">
  import { DefaultParent, GetBasic, RenderComponentConfiguration } from '/assets/scripts/uiTools.js';
  import { uiElements } from '/assets/scripts/app.js';
  import { buildMenu } from '/assets/scripts/sidebar.js';

  var dialog = $("#{{id}}");

  $(function () {
    dialog.on("show.bs.modal", onShowed);
    dialog.on("hidden.bs.modal", onHidden);
    $("form", dialog).on("submit", onSaved);
    $("#btn-reset-parent", dialog).on("click", resetParent);
  })

  let isNew = false;
  function onShowed() {
    isNew = false;

    let el = dialog.data("el");
    if (!el) {
      console.log("This is a new one");
      el = GetBasic(0, 0, 1, 1);
      dialog.data("el", el);
      isNew = true;
    }

    $("#ui-element-name").val(el.name);
    $("#ui-element-parent").val(el.parent);

    $("#edit-ui-components").html("");
    
    el.components.forEach(component => {
      var html = RenderComponentConfiguration(component);
      $("#edit-ui-components").append(html);
    });
  }

  function onSaved() {
    let el = dialog.data("el");
    el.name = $("#ui-element-name").val();
    el.parent = $("#ui-element-parent").val();

    $("#edit-ui-components").children().each((i, component) => {
      var handler = $(component).data("handler");
      if(!handler){
        console.warn("handler for component wasn't found )=");
        return;
      }
      handler.save();
    });

    if(isNew === true){
      console.log("add a new element");
      uiElements.push(el);
    }

    buildMenu(uiElements);
    dialog.modal("hide");
    return false;
  }

  function onHidden() {
    dialog.data("el", null);
  }

  function resetParent(){
    $("#ui-element-parent", dialog).val(DefaultParent);
  }
</script>