<form id="element-properties" class="d-none card draggable">
    <div class="card-header draggable-handle pr-0">
        Element properties
        <button id="element-properties-close" type="button" class="close px-3" aria-label="Close" style="margin-top: -5px;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label for="ui-element-name" class="col-3 col-form-label">Name</label>
            <div class="col-9"><input type="text" class="form-control" id="ui-element-name" required placeholder="Unique name of element"></div>
        </div>

        <div class="form-group row">
            <label for="ui-element-parent" class="col-3 col-form-label">Parent</label>
            <div class="col-9">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="ui-element-parent" aria-describedby="btn-reset-parent" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn-reset-parent">Top</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="according list-group row px-1" id="component-properties">
            <div class="list-group-item p-0 component-item">
                <div class="component-title" data-toggle="collapse"></div>
                <a class="btn-remove" href=""><i class="fas fa-trash"></i></a>
                <div class="component-properties collapse" data-parent="#component-properties"></div>
            </div>

            <div class="list-group-item p-0 component-add-btn">
                <div class="component-title" data-toggle="collapse" data-target="#add-components-area">Add component <i class="fas fa-plus float-right mr-1 mt-1 text-muted" style="padding-right: 1px;"></i></div>
                <div id="add-components-area" class="component-properties collapse text-center" data-parent="#component-properties">
                    <div class="btn-group btn-group-sm">
                        <button type="button" id="btn-add-component-rect" class="btn btn-secondary">Rect</button>
                        <button type="button" id="btn-add-component-text" class="btn btn-secondary">Text</button>
                        <button type="button" id="btn-add-component-solid" class="btn btn-secondary">Solid</button>
                        <button type="button" id="btn-add-component-button" class="btn btn-secondary">Button</button>
                        <button type="button" id="btn-add-component-image" class="btn btn-secondary">Image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer text-right">
        <button type="button" id="element-properties-remove" class="btn btn-danger float-left"><i class="fas fa-trash"></i></button>

        <!-- <button title="Add component" type="button" id="element-properties-add-component" class="btn btn-secondary"><i class="fas fa-plus-circle"></i></button> -->
        <button type="submit" id="element-properties-save" class="btn btn-primary" disabled>Save changes</button>
    </div>
</form>

<div class="d-none">
    {% include components/_all-properties.html %}
</div>

<script type="module">
    'use strict';
    import { eventDefines } from "/assets/scripts/defines.js";
    import { elements } from "/assets/scripts/elements.js";

    let element;
    let dialog = $("#element-properties");
    let componentsArea = $("#component-properties", dialog);
    let componentTemplate = $(".component-item", componentsArea).clone();
    let componentAddBtn = $(".component-add-btn", componentsArea);

    $(function () {
        $("#element-properties").draggable({ handle: ".draggable-handle", containment: "parent" });

        $(window).on(eventDefines.elementsMenuClicked, (e, id) => openProperties(id));

        $("#element-properties-close").on("click", closeProperties);
    })

    function openProperties(id) {
        element = elements.find(x => x.id === id);
        if (!element) {
            console.warn(`Can't find element with id: ${id}`);
            return;
        }

        setupProperties();
        setupComponents();
        dialog.removeClass("d-none");

        $(window).trigger(eventDefines.propertiesOpened);
    }

    function closeProperties() {
        element = null;
        dialog.addClass("d-none");

        $(window).trigger(eventDefines.propertiesClosed);
    }

    function setupProperties() {
        $("#ui-element-name", dialog).val(element.data.name);
        $("#ui-element-parent", dialog).val(element.data.parent);
    }

    function setupComponents() {
        $(".component-item", componentsArea).remove();

        element.data.components.forEach(component => {
            let html = component.renderProperties();
            if (html) {
                let item = componentTemplate.clone();
                let id = "component" + "_" + Math.round(Math.random() * 10000000);

                $(".component-title", item).html(component.data.type);
                $(".component-title", item).attr("data-target", "#" + id);
                $(".component-properties", item).prop("id", id);
                $(".component-properties", item).html(html);

                componentAddBtn.before(item);
            }
        });

        let first = componentsArea.children()[0];
        if (first) setTimeout(() => $(".collapse", first).collapse("show"), 100);

        //TODO open first component
    }
</script>