<form id="element-properties" class="d-none card draggable">
    <div class="card-header draggable-handle pr-0">
        Element properties
        <button id="element-properties-close" type="button" class="close px-3" aria-label="Close" style="margin-top: -5px;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label for="ui-element-name" class="col-3 col-form-label">Name</label>
            <div class="col-9"><input type="text" class="form-control" id="ui-element-name" required placeholder="Unique name of element"></div>
        </div>

        <!--
        <div class="form-group row">
            <label for="ui-element-parent" class="col-3 col-form-label">Parent</label>
            <div class="col-9">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="ui-element-parent" aria-describedby="btn-reset-parent" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn-reset-parent">Top</button>
                    </div>
                </div>
            </div>
        </div>
        -->

        <div class="d-none templates">
            <div class="list-group-item p-0 component-item">
                <div class="component-title" data-toggle="collapse"></div>
                <a class="btn-remove" href="#"><i class="fas fa-trash"></i></a>
                <div class="component-properties collapse" data-parent="#component-properties"></div>
            </div>
        </div>

        <div class="according list-group row px-1" id="component-properties">
            <div class="list-group-item p-0 component-add-btn">
                <div class="component-title" data-toggle="collapse" data-target="#add-components-area">Add component <i class="fas fa-plus float-right mr-1 mt-1 text-muted" style="padding-right: 1px;"></i></div>
                <div id="add-components-area" class="component-properties collapse text-center" data-parent="#component-properties">
                    <div class="btn-group btn-group-sm">
                        <!-- <button type="button" id="btn-add-component-rect" class="btn btn-secondary">Rect</button> -->
                        <button type="button" id="btn-add-component-text" class="btn btn-secondary">Text</button>
                        <button type="button" id="btn-add-component-solid" class="btn btn-secondary">Solid</button>
                        <button type="button" id="btn-add-component-button" class="btn btn-secondary">Button</button>
                        <button type="button" id="btn-add-component-image" class="btn btn-secondary">Image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer text-right">
        <button type="button" id="element-properties-remove" class="btn btn-danger"><i class="fas fa-trash"></i> Remove</button>

        <!-- <button title="Add component" type="button" id="element-properties-add-component" class="btn btn-secondary"><i class="fas fa-plus-circle"></i></button> -->
        <!-- <button type="submit" id="element-properties-save" class="btn btn-primary">Save changes</button> -->
    </div>
</form>

<div class="d-none">
    {% include components/_all-properties.html %}
</div>

<script type="module">
    'use strict';
    import { events } from "/assets/scripts/defines.js";
    import { removeElement, getElement, elements } from "/assets/scripts/elements.js";
    import RectTransform from "/assets/scripts/components/rect-transform.js";
    import SolidComponent from "/assets/scripts/components/solid.js";

    let form;
    let element;

    $(function(){
        setupForm();
        setupEvents();
    });

    function setupForm(){
        form = $("#element-properties");
        form.draggable({ handle: ".draggable-handle", containment: "parent" });
        form.on("submit", closeProperties);

        $("#ui-element-name", form).on("change keyup", updateName);

        $("#element-properties-close", form).on("click", closeProperties);
        $("#element-properties-remove", form).on("click", onRemoveElementClicked);
        
        $("#btn-add-component-solid", form).on("click", () => addComponent(new SolidComponent()));
    }

    function setupEvents(){
        $(window).on(events.showProperties, (e, id) => openProperties(id));
        $(window).on(events.elementAdded, (e, id) => openProperties(id));
        $(window).on(events.modalOpened, closeProperties);
    }

    function closeProperties(){
        cleanUp();
        form.addClass("d-none");
        $(window).trigger(events.elementsUpdated);
    }

    function cleanUp(){
        if(!element) return;

        $(".element-temp").draggable("destroy");
        $(window).trigger(events.elementsUpdated);
        element = null;
    }

    function onRemoveElementClicked(){
        removeElement(element.id);
        closeProperties();
    }

    function openProperties(id){
        cleanUp();
        element = getElement(id);

        setupProperties();
        setupComponents();
        setupDraggable();

        form.removeClass("d-none");
        $(".is-invalid", form).removeClass("is-invalid");
        $("#ui-element-name", form).focus();
        $("#ui-element-name", form).select();
    }

    function setupProperties() {
        $("#ui-element-name", form).val(element.name);
    }

    function setupComponents(idToOpen) {
        $("#component-properties > .component-item", form).remove();
        if (element.components.length === 0) return;

        element.components.forEach(component => setupComponent(component));

        if (!idToOpen) idToOpen = element.components[0].id;

        let componentPropertyView = $(`#properties_${idToOpen}`, form);
        if (componentPropertyView) setTimeout(() => componentPropertyView.collapse("show"), 100);
    }

    function setupComponent(component){
        let item = $(".templates > .component-item", form).clone();
        let componentPropertiesId = `properties_${component.id}`;

        $(".component-title", item).html(component.type);
        $(".component-title", item).attr("data-target", "#" + componentPropertiesId);
        $(".component-properties", item).prop("id", componentPropertiesId);
        $(".component-add-btn", form).before(item);

        component.renderProperties();

        if(component instanceof RectTransform) $(".btn-remove", item).remove();
        else $(".btn-remove", item).on("click", () => removeComponent(component.id));
    }

    function setupDraggable(){
        $(`#${element.id}`).draggable({ 
            containment: "#game-screen",
            stop: onElementDrag,
            snap: ".element-container",
            snapTolerance: 5
        });
    }
    
    function onElementDrag(){
        let rectComponent = element.components.find(x => x instanceof RectTransform);
        if(!rectComponent){
            console.warn("Rect component not found")
            return;
        }

        rectComponent.setTransformFromRect();
        rectComponent.setupFields();
    }

    function removeComponent(componentId){
        if(element.removeComponent(componentId)){
            $(`#properties_${componentId}`).parent().remove();
        }
    }

    function addComponent(component){
        element.addComponent(component);
        setupComponents(component.id);
        component.renderView();
    }

    function updateName(){
        $("#ui-element-name").removeClass("is-invalid");

        let name = $("#ui-element-name").val();
        if(element.name === name) return;

        if(!element.name){
            $("#ui-element-name").addClass("is-invalid");
            return;
        }

        if(elements.find(x => x.name === name)){
            //Swal.fire('Was not saved',`Name '${name}' already used`,'error');
            $("#ui-element-name").addClass("is-invalid");
            return;
        }

        $("#ui-element-name").removeClass("is-invalid");

        element.name = name;
        $(window).trigger(events.elementRenamed);
    }
</script>