<form id="element-properties" class="d-none card draggable">
    <div class="card-header draggable-handle pr-0">
        Element properties
        <button id="element-properties-close" type="button" class="close px-3" aria-label="Close" style="margin-top: -5px;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label for="ui-element-name" class="col-3 col-form-label">Name</label>
            <div class="col-9"><input type="text" class="form-control" id="ui-element-name" required placeholder="Unique name of element"></div>
        </div>

        <!--
        <div class="form-group row">
            <label for="ui-element-parent" class="col-3 col-form-label">Parent</label>
            <div class="col-9">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="ui-element-parent" aria-describedby="btn-reset-parent" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn-reset-parent">Top</button>
                    </div>
                </div>
            </div>
        </div>
        -->

        <div class="according list-group row px-1" id="component-properties">
            <div class="list-group-item p-0 component-item">
                <div class="component-title" data-toggle="collapse"></div>
                <a class="btn-remove" href="#"><i class="fas fa-trash"></i></a>
                <div class="component-properties collapse" data-parent="#component-properties"></div>
            </div>

            <div class="list-group-item p-0 component-add-btn">
                <div class="component-title" data-toggle="collapse" data-target="#add-components-area">Add component <i class="fas fa-plus float-right mr-1 mt-1 text-muted" style="padding-right: 1px;"></i></div>
                <div id="add-components-area" class="component-properties collapse text-center" data-parent="#component-properties">
                    <div class="btn-group btn-group-sm">
                        <button type="button" id="btn-add-component-rect" class="btn btn-secondary">Rect</button>
                        <button type="button" id="btn-add-component-text" class="btn btn-secondary">Text</button>
                        <button type="button" id="btn-add-component-solid" class="btn btn-secondary">Solid</button>
                        <button type="button" id="btn-add-component-button" class="btn btn-secondary">Button</button>
                        <button type="button" id="btn-add-component-image" class="btn btn-secondary">Image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer text-right">
        <button type="button" id="element-properties-remove" class="btn btn-danger float-left"><i class="fas fa-trash"></i></button>

        <!-- <button title="Add component" type="button" id="element-properties-add-component" class="btn btn-secondary"><i class="fas fa-plus-circle"></i></button> -->
        <button type="submit" id="element-properties-save" class="btn btn-primary">Save changes</button>
    </div>
</form>

<div class="d-none">
    {% include components/_all-properties.html %}
</div>

<script type="module">
    'use strict';
    import { eventDefines } from "/assets/scripts/defines.js";
    import { elements, updateViews } from "/assets/scripts/elements.js";
    import { ElementTemp } from "/assets/scripts/element.js";
    import RectTransform from "/assets/scripts/components/rect-transform.js";
    import SolidComponent from "/assets/scripts/components/solid.js";
    import {defaultParent} from "/assets/scripts/app.js";

    let element;
    let rect;
    let dialog = $("#element-properties");
    let componentsArea = $("#component-properties", dialog);
    let componentTemplate = $(".component-item", componentsArea).clone();
    let componentAddBtn = $(".component-add-btn", componentsArea);

    $(function () {
        $("#element-properties").draggable({ handle: ".draggable-handle", containment: "parent" });

        $(window).on(eventDefines.elementsMenuClicked, (e, id) => openProperties(id));
        $(window).on(eventDefines.modalOpened, closeProperties);

        dialog.on("submit", () => { saveProperties(); return false; });
        $("#element-properties-close", dialog).on("click", closeProperties);
        $("#btn-add-component-rect", componentAddBtn).on("click", () => addComponent(new RectTransform()));
        $("#btn-add-component-solid", componentAddBtn).on("click", () => addComponent(new SolidComponent()));
    })

    function createTemp(id){
        let elementOriginal = elements.find(x => x.id === id);
        if (!elementOriginal) {
            console.warn(`Can't find element with id: ${id}`);
            return false;
        }

        element = new ElementTemp(elementOriginal);
        return true;
    }

    function openProperties(id) {
        if(element) cleanUp();
        if(!createTemp(id)) return;

        setupProperties();
        setupComponents();
        renderView();
        dialog.removeClass("d-none");

        $(window).trigger(eventDefines.propertiesOpened);
    }

    function closeProperties() {
        cleanUp();

        dialog.addClass("d-none");
        $(window).trigger(eventDefines.propertiesClosed);
    }

    function saveProperties() {
        let name = $("#ui-element-name", dialog).val();
        //let parent = $("#ui-element-parent", dialog).val();

        if(element.data.name !== name && elements.find(x => x.data.name === name)){
            console.warn(`name '${name}' already used`);
            return;
        }

        /*if(name === parent){
            console.warn("parent can't be equal name");
            return;
        }

        if(parent !== defaultParent && !elements.find(x=>x.data.name === parent)){
            console.warn("parent not found");
            return;
        }*/

        element.data.name = name;
        element.apply(true);
        $(window).trigger(eventDefines.elementsUpdated, element.original);
        closeProperties();
    }

    function cleanUp(){
        if(!element) return;

        element.restoreView();
        element = null;
        rect = null;
    }

    function setupProperties() {
        $("#ui-element-name", dialog).val(element.data.name);
        $("#ui-element-parent", dialog).val(element.data.parent);
    }

    function setupComponents(idToOpen) {
        $(".component-item", componentsArea).remove();
        if (element.components.length === 0) return;

        element.components.forEach(component => {
            let html = component.renderProperties();
            if (html) {
                let item = componentTemplate.clone();

                $(".component-title", item).html(component.data.type);
                $(".component-title", item).attr("data-target", "#" + component.id);
                $(".component-properties", item).prop("id", component.id);
                $(".component-properties", item).html(html);

                componentAddBtn.before(item);
                $(".btn-remove", item).on("click", () => removeComponent(item));
            }
        });

        if (!idToOpen) idToOpen = element.components[0].id;

        let componentView = $(`[id=${idToOpen}]`, componentsArea);
        if (componentView) setTimeout(() => componentView.collapse("show"), 100);
    }

    function addComponent(component) {
        element.addComponent(component);
        setupComponents(component.id);
        renderView();
    }

    function removeComponent(item) {
        let id = $(".component-properties", item).prop("id");
        element.removeComponent(id);
        setupComponents();
        renderView();
        return false;
    }

    function onElementDrag(){
        let rectComponent = element.components.find(x => x instanceof RectTransform);
        if(!rectComponent){
            console.warn("Rect component not found")
            return;
        }

        // let left = rect.position().left;
        // let bottom = rect.parent().outerHeight(true) - rect.position().top - rect.outerHeight(true);

        //rectComponent.setSizePx(left, bottom, rect.outerWidth(true), rect.outerHeight(true));
        rectComponent.setTransformFromRect();
        rectComponent.updatePropertiesView();
        //TODO update property view
    }

    function renderView(){
        rect = element.renderView();
        rect.draggable({ 
            containment: "#game-screen",
            //drag: onElementDrag,
            stop: onElementDrag,
            snap: ".element-container",
            snapTolerance: 5
        });

        updateViews(element.data.name);
    }
</script>