<nav class="col-2 bg-light sidebar">
  <div class="sidebar-sticky">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>UI Elements</span>
      <a href="#" class="btn-icon btn-add-component"><i class="fas fa-plus-circle"></i></a>
    </h6>
    <div class="px-3 no-elements d-none"><a href="#" class="btn-add-component">Add</a> you first component</div>
    <ul id="els" class="nav flex-column mb-2"></ul>
  </div>
</nav>

<script type="module">
  import { updateMenu } from "/assets/scripts/sidebar.js";
  import { showProperties } from '/assets/scripts/element-properties.js';

  $(function () {
    updateMenu();

    $(".btn-add-component").on("click", () => showProperties());
  })
</script>