.element-render-item{
    position: absolute;
}

.element-render-solid{
    background: #fff;
}

.component-draggable-placeholder{
    position: absolute;
    border: dashed 2px #ffbc00;
    cursor: grab;
}