// .element-render-item{
//     position: absolute;
// }

// .element-render-solid{
//     background: #fff;
// }

// .component-draggable-placeholder{
//     border: dashed 2px #ffbc00;
//     cursor: grab;
// }

.element-container {
    position: absolute;

    .component-solid{
        display: inline-block;
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;
    }
}