.sidebar{
    .nav-item {
        position: relative;

        a{
            &:hover{
                opacity: .7;
            }
        }

        &:hover{
            background-color: #3c434a;
        }
    }

    .no-elements{
        color: #fff;
    }

    #add-btn-list.detached{
        position: absolute;
        right: 10px;
        top: 5px;
    }

    #add-btn-area{
        height: 20px;
    }
}