<div id="text-component-properties" class="ui-component pb-0">
    
    <div class="row form-group">
        <label for="text-text" class="col-3 col-form-label pr-0" title="Position">Text</label>
        <div class="col">
            <input id="text-text" type="text" class="form-control">
        </div>
    </div>

    <div class="row form-group">
        <div class="col row">
            <label for="text-color" class="col col-form-label" title="Position">Color</label>
            <div class="col">
                <input id="text-color" type="text" class="form-control">
            </div>
        </div>
        <div class="col row">
            <label for="text-size" class="col col-form-label pr-0 text-right" title="Position">Size</label>
            <div class="col">
                <input id="text-size" type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="row form-group">
        <label for="text-position" class="col-3 col-form-label pr-0" title="Position">Position</label>
        <div class="col">
            <select id="text-position" class="form-control">
                <option value="MiddleLeft">Middle Left</option>
                <option value="MiddleRight">Middle Right</option>
                <option value="MiddleCenter">Middle Center</option>
                <option value="TopLeft">Top Left</option>
                <option value="TopRight">Top Right</option>
                <option value="TopCenter">Top Center</option>
                <option value="BottomLeft">Bottom Left</option>
                <option value="BottomRight">Bottom Right</option>
                <option value="BottomCenter">Bottom Center</option>
            </select>
        </div>
    </div>

</div>